body {
  text-align: center;
  margin: 0 15px;
}

.block-block-content3337069d-95fb-4c79-a779-fd2816d11d38 {
  font-family: Zapfino, tangerine, sans-serif;
  font-size: 32px;
}

.block-views-blockhome-page-carousel-block-1 {

}

.block-block-content9d7c90f2-5e78-4fb9-bb30-5372a0d8f6cf h2 {
  font-family: Trattatello, wreath, serif;
  font-size: 60px;
}

.block-block-content9d7c90f2-5e78-4fb9-bb30-5372a0d8f6cf p {
  font-family: "Apple Chancery", p22-pouty-pro;
  font-size: 40px;
}

.block-block-contentb305bb5b-e5df-4112-aba5-93f21362e7fa h2 {
  font-family: Trattatello, wreath, serif;
  font-size: 60px;
}

.block-block-contentb305bb5b-e5df-4112-aba5-93f21362e7fa p {
  font-family: "Apple Chancery", p22-pouty-pro;
  font-size: 40px;
}

.block-block-contentb3ccee1b-c5ee-46ce-bf18-44f14df8ae79 h2 {
  font-family: Trattatello, wreath, serif;
  font-size: 60px;
}

.block-block-contentb3ccee1b-c5ee-46ce-bf18-44f14df8ae79 p {
  font-family: "Apple Chancery", p22-pouty-pro;
  font-size: 25px;
  text-align: left;
}

#edit-actions {
  text-align: left;
  font-size: 32px;
}

#edit-actions input {
  padding: 4px 28px 8px;
}

.cycle-pager {
  font-size: 60px;
  margin-top: 180px;
}

.cycle-pager span {
  padding: 0 5px;
}
